<% provide(:title, @taxon.name) %>
<%= render 'light_section', taxon: @taxon %>
<section class="mainContent clearfix productsContent">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-4 col-xs-12 sideBar">
        <%= render 'categories', taxonomies: @taxonomies %>
        <%= render 'colors' %>
        <%= render 'size' %>
      </div> 
      <div class="col-md-9 col-sm-8 col-xs-12">
        <%= render 'sort' %>
        <div class="row">
          <%= render partial: 'products_image', collection: @products, as: :product %>
        </div>
      </div>
    </div>
  </div>
</section>
<%= render 'brand' %>
